body{
    font-family: 'Merienda', cursive;
    /*background-color: rgb(59, 58, 58);*/
    
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    


}
hr {
    color: black;
}
.cardstyle {
    background-color:#7267CB; 
    border: 2px solid black;
}
.card-header-style {
    background-color: #cd7bf9;
}
i{
    color: #cd7bf9;
}